/* Colors (gruvbox) */

@define-color black	#282828; /*used for tooltip background and flashing of update package notification*/
@define-color red	#cc241d; /*used for critical temperature and disk space warnings and power button*/
@define-color yellow	#d79921; /* used for warning temperature and disk space warnings*/
@define-color purple	#b16286;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color bryellow	#fabd2f;
@define-color brpurple	#d3869b;
@define-color white	#ebdbb2;
@define-color bg2	#504945;
@define-color foreground	#ebdbb2;
@define-color pink    #89b4fa;
@define-color cyan-grey rgba(137, 180, 250, 0);
@define-color border_color rgba(203, 166, 247, 1);
@define-color background transparent; 

/*
  Colors (dracula) 
 @define-color foreground	#f8f8f2; 
 @define-color background	rgba(40, 42, 54, 0.5); 
 @define-color orange	#ffb86c; 
 @define-color gray	#44475a; 
 @define-color black #21222c; 
 @define-color red	#ff5555; 
 @define-color yellow	#f1fa8c; 
 @define-color cyan	#8be9fd; 
 @define-color purple	#bd93f9; 
 @define-color pink	#ff79c6; 
 @define-color white #ffffff; 
 @define-color brred #ff6e6e; 
 @define-color bryellow #ffffa5;
 @define-color brcyan #a4ffff; 
 @define-color brpurple #d6acff; 
 @define-color brpink #ff92df; 
*/
    /* Arch Blue */
 @define-color arch_blue #89b4fa; 


@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@black;
@define-color workspace_active_background	@cyan-grey;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@brred;
@define-color workspace_hover	@black;
@define-color workspace_hover_background rgba(137, 180, 250, 0.93);
@define-color critical	@red;
@define-color warning	@yellow;


@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    color: @foreground;
}
.modules-right > *, .modules-left > *, .modules-center > * {
    margin: 0px 10px;
    font-size: 16px;
}

window#waybar {
    background: rgba(30, 30, 30, 0.4);
	  color: @foreground;
}

#workspaces {
    background: @workspace_background;
    transition: none;
    padding: 5px 5px;
    border-radius: 5px;
    
}
#workspaces >*{
    margin: 0px 3px;
}

#workspaces button, #workspaces button.persistent {
    background: transparent;
    color: @workspace_button;
    transition: none;
    border: 2px solid transparent;
}

#workspaces button.active {
    background: @workspace_active_background;
    color: rgba(203, 166, 247, 1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid @border_color;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 5px;
    transition: background 0.2s ease-in-out; 
        
/*
    border-top: 2px solid @pink;
    border-bottom: 2px solid @pink;
*/
}
#workspaces button.urgent {
    background: @workspace_urgent_background;
    color: @workspace_urgent;
    border-radius: 5px;
}



#workspaces button:hover {
    background: @workspace_hover_background;
    color: @workspace_hover;
    border: 2px solid @border_color; 
    transition: background 0.2s ease-in-out;
    border-radius: 5px;
}

#taskbar {
    background: @background;
    border-radius: 5px;
    margin: 5px 10px 5px 50px;
}

tooltip {
    background: @black;
    opacity: 0.95;
    border-radius: 10px;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: @border_color;
}

tooltip label{
    color: @grey;
}

#custom-rofi,
#custom-lock_screen,
#custom-power,
#custom-weather,
#custom-khorshididate,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#updates,
#backlight,
#language {
    background: @background;
    opacity: 1;
    padding: 0px 10px;
    margin: 2px 3px 2px 3px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;  /* Smooth hover animation */

}
#custom-rofi:hover,
#custom-lock_screen:hover,
#custom-power:hover,
#custom-weather:hover,
#custom-khorshididate:hover,
#cpu:hover,
#disk:hover,
#custom-updates:hover,
#memory:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#network:hover,
#tray > *:hover,
#temperature:hover,
#backlight:hover,
#language:hover ,
#updates:hover {
    background: @background;
    color: @border_color;
    opacity: 1;
    padding: 0px 10px;
    margin: 2px 3px 2px 3px;
    border-bottom: 2px solid @border_color;
    transition: border-bottom 0.3s ease,
    opacity 0.3s ease;/* Smooth hover animation */
}



#disk.critical,
#temperature.critical  {
    background-color: @critical;
}

#disk.warning,
#temperature.warning {
    background-color: @warning;
}





#custom-rofi {
    color: @arch_blue;
    border-radius: 5px 0px 0px 5px;
}
#cusotm-rofi:hover{
   color : @border_color;

}
#custom-updates {
    color: @arch_blue;
    border-radius: 5px 0px 0px 5px;
    animation: blink 1s step-end   ;
}

#custom-power {
    color: @red;
    border-radius: 0px 5px 5px 0px;
}

#clock {
    border-radius: 0px 5px 5px 0px;
}

#tray {
    background: @background;
    border-radius: 5px;
    margin: 5px 50px 5px 10px;
    padding: 0px 10px;
}

#pulseaudio {
}

#pulseaudio.microphone {
}
